---
import { formatDate } from "@/utils";
const { title, href, description, date, category } = Astro.props;

const url = "/" + category + "/" + href;
const dateFormated = formatDate(date);
---
<article class="py-8 border-b border-zinc-300">
    <a class="grid grid-cols-1 md:grid-cols-4 items-center gap-2" href={url}>
        <time class="col-span-1 text-sm text-zinc-700">{dateFormated}</time>
        <div class="col-span-3">
            <h2 class="font-bold text-xl">{title}</h2>
            {(description) &&
            <p class="text-zinc-700 text-sm mt-2">{description}</p>
            }
        </div>  
    </a>          
</article>