---
import { getCollection } from 'astro:content';
import { getPathBySlug } from '@/utils/getPathBySlug';

const allGalleries = await getCollection("gallery");
const visibleGalleries = allGalleries
  .filter((entry) => entry.data.draft !== true)
  .sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));

const postsWithPaths = await Promise.all(
  visibleGalleries.map(async (post) => {
    const href = await getPathBySlug(post.slug);
    return { ...post, href };
  })
);
--- 
 
 <section class="container-wide my-16" id="gallery">
      <div>
          <h2 class="w-full text-4xl tracking-tight mb-8">Gallery</h2>
      </div>

    <div class="columns-2 md:columns-3 gap-4 mx-auto max-w-7xl px-4 md:px-8">
    {postsWithPaths.slice(0, 9).map((post) => (
      <div class="break-inside-avoid mb-6 overflow-hidden rounded-lg">
        <a href={post.href}>
          <img class="h-auto max-w-full grayscale hover:grayscale-0 hover:scale-110 duration-300" src={post.data.photos[0]} alt={post.data.title} />
        </a>
      </div>
    ))}
    </div>
</section>