---
import { config } from '@/site.config'
import Branding from "@/components/global/Branding.astro";
---
<section class="relative container-wide">
  <Branding />

  <div class="px-8 -mt-22 md:px-12 py-12 max-w-2xl mx-auto relative">
    <div>
      <span
        class="inline-flex items-center justify-center gap-2 rounded-full px-3 py-1 text-sm leading-6 text-black ring-1 ring-zinc-200 bg-white ring-inset"
      >
        <p>2025年仍有档期可约</p>
        <div class="h-2 w-2 rounded-full bg-black border-2 border-black"></div>

        <div class="h-2 w-2 rounded-full border-black border-2"></div>
      </span>
      <h2 class="text-5xl mt-12 tracking-tighter font-bold text-black">
        {config.slogan} <span class="block text-3xl font-normal mt-3 font-serif tracking-wide"
          >望见你 ⏤<br />悄然绽放于明晦之间。</span
        >
      </h2>
    </div>
    <ul
      class="grid grid-cols-1 text-base text-zinc-500 lg:grid-cols-2 max-w-xl gap-4 group h-full mt-12"
    >
      <div>
        <p>{config.description}</p>
      </div>
      <div>
        <p>
          愿意尝试任何感兴趣的事情，如果您在我的 <a class="underline" href="/blog">Blog</a> 找到任何共同话题，欢迎留言探讨。
        </p>
      </div>
      <em class="col-span-full text-sm mt-8">
        <p>
          人生如逆旅，我亦是行人。<span class="block text-black">⏤ 苏轼</span>
        </p>
      </em>
    </ul>
  </div>
</section>
