<section class="container-wide">
  <div>
    <div class="flex flex-nowrap items-center justify-between">
      <img class="h-12 invert" src="/src/assets/logo-z.svg" alt="#_" />
      <img class="h-16" src="/src/assets/jumping-frog.svg" alt="#_" />
      <img class="h-8" src="/src/assets/waxa.svg" alt="#_" />
    </div>
  </div>
</section>
