<section class="container-wide mt-8 md:mt-4">
  <div>
    <div class="flex flex-nowrap gap-4 items-center justify-between">
      <svg class="h-8 md:h-12 fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.21 20.78">
        <g data-name="logo-group">
          <path class="z" d="m19.89 15.43-4.98-.02 11.8-12.7L8.6 2.65 6.07 5.37l-4.98-.02L6.05 0h28.16L19.88 15.42z"/>
          <path class="z" d="m14.26 5.34 4.98.02L7.41 18.08l18.11.06 2.52-2.72 4.98.02-4.95 5.34-26.47-.09H0L14.26 5.34z"/>
        </g>
      </svg>
      <svg class="h-12 md:h-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47.46 35.17">
        <path d="M44.14 1.71C43.7.59 42.59-.13 41.39.02c-1.45.18-2.48 1.55-2.31 3.06 0 .03 0 .07.01.1-2.26 1.18-3.91 2.17-10.87 4.44-3.72 1.21-6.92 4.86-7.21 7.7.65-.33 1.31-.16 1.31-.16-1.36.53-3.85 1.88-4.78 5.62-.76 3.05-1.26 3.94-3.49 4.04-2.9.12-3.42.74-4.68 2.17-1.26 1.43-3.59 4.53-5.4 4.9-1.81.36-2.39-.22-2.75.33-.36.54.66 1.08 1.7.86 1.04-.22 2.1-.42 2.44-.69-.79.7-1.78 1.28-3.15 1.44-1.75.2-2.35 1.12-1.04 1.32 1.31.21 3.98-.99 5.51-2.47 1.86-1.8 3.83-4.7 5.98-4.88 2.75-.22 5.7 1.84 13.71-7.66-.22 1-1.21 2.14-1.21 2.14 6.08.87 8.43-1.84 9.39-2.57.75-.58.96-.93.61-1.67-.89-1.88-.42-4.61 2.05-6.23-1.43 1.35-2.71 3.86-1.53 6.17.35.69.6.97.17 1.44-.65.71-.7 1.35-.48 1.52.22.17.92.1 1.61-.99.64-1.01 2.4-.48 2.4 1.18 0 1.53.96.66 1.05-.12.12-1.08-.87-1.67.12-1.21.65.3.78.6.96.28.21-.37-.27-1.11-1.35-1.3-.8-.14-.27-.49.17-.37.77.21 1.12-.3.25-.61-.86-.31-1.74-.24-1.51-1.55.51-3.02 2.81-3.87 2.02-6.49.71 1.11.55 2.61-.91 4.62 6.14-2.62 5.11-6.93 6.73-9.93 1.09-2.02.77-3.18-2.76-2.72zm-2.26 2.62c-.84.1-1.6-.52-1.7-1.39-.1-.87.5-1.67 1.34-1.77.84-.1 1.6.52 1.7 1.39.1.87-.5 1.67-1.34 1.77zM10.35 25.14c2.03-1.55 2.54-.79 4.18-1.07 1.93-.33 2.35-2.54 2.47-3.37-.14.32-.35.77-2.03.77-1.69 0-2.71-.69-4.99 1.58-2.53 2.51-5.2 5.13-7.02 4.69-.57-.14-1.65-.69-1.97.23-.32.93 1.38 1.02 2.48.77-.43.39-.9.67-2.3.8-1 .09-2 1.31-.11 1.34 4.12.06 7.25-4.21 9.29-5.76zM41.72 1.38c-.5.06-.86.54-.81 1.06s.52.9 1.02.84c.5-.06.86-.54.81-1.06-.06-.53-.52-.9-1.02-.84z" style="fill:#231815;fill-rule:evenodd" data-name="图层 1"/>
      </svg>
      <svg class="h-6 md:h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43.11 5.98">
        <g>
          <path class="cls-1" d="M8.21.15 6.45 5.84H5.44L4.11 1.63 2.78 5.84H1.77L0 .15h1.04l1.25 4.32L3.63.15h.96l1.34 4.33L7.18.15h1.03zM14.71.15v5.69h-.99v-.98c-.46.69-1.18 1.13-2.15 1.13-1.58 0-2.88-1.31-2.88-2.99S9.99.01 11.57.01c.97 0 1.69.43 2.15 1.13V.15h.99zm-.99 2.84c0-1.16-.88-2.04-2.02-2.04s-2.01.88-2.01 2.04.88 2.04 2.01 2.04 2.02-.88 2.02-2.04zM19.99 5.84 18.4 3.69l-1.6 2.15h-1.16l2.18-2.92L15.76.15h1.17l1.47 1.98L19.87.15h1.16L18.98 2.9l2.17 2.93h-1.16zM27.38.15v5.69h-.99v-.98c-.46.69-1.18 1.13-2.15 1.13-1.58 0-2.88-1.31-2.88-2.99S22.66.01 24.24.01c.97 0 1.69.43 2.15 1.13V.15h.99zm-.99 2.84c0-1.16-.88-2.04-2.02-2.04s-2.01.88-2.01 2.04.88 2.04 2.01 2.04 2.02-.88 2.02-2.04zM31.04 4h1V1.07h-1.01V0h-.65v1.07h-1.01v2.94h1.01v1.14l-1.06.04v.71c.05 0 1.91.03 2.77-.36v-.69c-.34.17-.77.26-1.06.27V4.01zm0-2.22h.4v1.51h-.4V1.78zm-.65 1.51h-.41V1.78h.41v1.51zm3.99 1.14h1.26v-.71h-1.26v-.57h-.71v.57h-1.26v.71h1.26v.81h-1.36v.71h3.43v-.71h-1.36v-.81zM39.49.69s-.02.1-.04.25h-2.11v2.55h5.16V.94h-2.34l.03-.25h2.62v-.6h-5.78v.59h2.45zm2.3.79v.16h-3.51v.49h3.52v.16h-3.52v.49h3.52v.16h-3.74V1.48h3.74zm-.28 3.78c.66-.36.99-.85.99-1.46h-4.06v-.21h-.71c.04.47-.4.81-.47.85.26.39.39.58.39.58.07-.04.13-.08.2-.13 0 0 .35.31.58.39-.16.01-1.08.05-1.71.06 0 .4.02.62.02.65 0 0 2.06-.03 3.25-.24 0 0 1.28.2 3.1.24s.01-.65.01-.65c-.11 0-1.27-.05-1.6-.07zm-.56-.46c-.21.1-.52.19-.92.27-.15-.03-.29-.06-.43-.09-.36-.1-.62-.18-.77-.26a.973.973 0 0 0-.15-.06h-.58c.04-.05.09-.12.14-.2h3.29s-.11.09-.18.14c-.14.09-.27.16-.4.21zm-6.57-3.45h1.26V.64h-1.26V.06h-.71v.57h-1.26v.71h1.26v.81h-1.36v.71h3.42v-.71h-1.36v-.81z"/>
        </g>
      </svg>
    </div>
  </div>
</section>
