<section class="container-wide mt-8 md:mt-4">
  <div>
    <div class="flex flex-nowrap gap-4 items-center justify-between">
      <img class="h-8 md:h-12 invert" src="/src/assets/logo-z.svg" alt="#_" />
      <img class="h-12 md:h-16" src="/src/assets/jumping-frog.svg" alt="#_" />
      <img class="h-6 md:h-8" src="/src/assets/waxa.svg" alt="#_" />
    </div>
  </div>
</section>
