<section>
  <div class="px-8 md:px-12 max-w-2xl mx-auto">
    <div class="flex items-center justify-between">
      <img class="h-12 invert" src="/src/assets/logo-z.svg" alt="#_" />
      <img class="h-16" src="/src/assets/jumping-frog.svg" alt="#_" />
      <img class="h-8" src="/src/assets/waxa.svg" alt="#_" />
    </div>
  </div>
</section>
