<section class="scroll-mt-4" id="pricing">
  <div class="px-8 py-12 max-w-7xl mx-auto">
    <div
      class="grid grid-cols-1 gap-px md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
      <section
        class="col-span-full lg:col-span-1 bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8"
      >
        <div>
          <div>
            <p class="text-2xl tracking-tighter font-medium text-black font-serif">
              套餐价格表 <span class="font-sans">&</span><span class="md:block">注意事项</span>
            </p>
          </div>
          <p class="text-xs text-zinc-500 lg:mt-8 mt-4">
            所有套餐均需提前支付40%定金，一年内有效。如有必要，您也可以更改档期，请提前两周协商，最多可以更改两次。若因客户原因拍摄迟到或取消，定金恕不退还。
          </p>
        </div>
        <div>
          <div class="flex items-center gap-2 text-black">
            <p class="text-xs">2025下半年仍有档期可约</p>
            <div class="h-2 w-2 rounded-full bg-black "></div>

            <div class="h-2 w-2 rounded-full border border-black"></div>
          </div>
          <div class="border-t border-zinc-200  flex flex-col pt-4 mt-4">
            <span class="text-xs text-zinc-500 font-normal">
              默认使用数码机身拍摄，如果您偏好胶片，请提前沟通。请注意，胶片拍摄会在标准套餐基础上额外追加每卷100元的成本费用，另外出片也会因为冲扫流程延后，一般延期在一个月以内。
            </span>
            <div class="inline-flex items-center gap-2 mt-4 text-black">
              <svg
                class="h-5"
                viewBox="0 0 800 200"
                fill="black"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_44_18)">
                  <path d="M570.05 92.02c-5.16-13.19-17.64-23.38-30.98-26.68-36.57-9.75-82.9-5.88-108.14 24.67-14.63 18.79-23.23 47.04-12.33 70.85 5.31 13.91 20.08 23.95 33.99 26.53 30.69 4.02 70.28 5.74 94.94-16.78 23.09-19.22 30.84-51.34 22.52-78.59zm-75.72 56.51c-3.44 1.29-9.04 1.86-12.19-.57-7.31-4.02-4.88-13.05-4.02-19.08 3.44-11.19 7.31-26.96 21.23-29.11 4.57-.45 10.33 1.58 12.19 6.88 1.29 16.21-3.36 32.69-17.21 41.88zM161.63 0l-25.82 74.87L116.18 0H64.03L0 182.8h60.93l24.27-69.71 18.08 69.71h55.25L222.56 0h-60.93zM262.67 54.53c10.76-1.58 22.09-5.02 27.97-15.63 4.3-8.46 2.72-18.64-2.44-26.1-8.32-8.75-19.79-9.61-31.98-8.89-11.19 1.58-22.52 7.17-26.53 18.79-1.86 7.31-1.43 16.21 3.44 22.09 7.17 8.75 18.79 10.04 29.54 9.75zM218.28 66.78l-40.79 116.18h57.83l40.79-116.18h-57.83z"/>
                  <path d="M441.96 66.61h-67.12l-33.57 39.25L377.93 0h-58.86l-64.03 182.8h58.86l16.53-45.96 9.29 45.96h61.45l-10.33-55.77 51.12-60.42zM706.3 65.23c-25.82 0-42.86 11.36-51.64 19.11l6.71-17.56h-60.93l-40.79 116.18h60.93l19.62-55.77c3.1-8.78 8.26-12.91 17.04-12.91s10.84 8.78 8.26 16.01l-18.59 52.67h58.87l26.33-75.39c7.23-20.66 0-42.34-25.82-42.34zM736 158.62c-6.74 0-12.18 5.44-12.18 12.12s5.44 12.18 12.18 12.18 12.12-5.44 12.12-12.18-5.41-12.12-12.12-12.12zm0 22.84c-5.92 0-10.69-4.77-10.69-10.72s4.77-10.66 10.69-10.66 10.66 4.77 10.66 10.66-4.77 10.72-10.66 10.72z"/><path d="M742.24 167.56c0-1.15-.51-2.35-1.53-2.93-1.02-.6-2.16-.67-3.31-.67h-5.92v13.58h1.65v-6.27h3.05l3.88 6.27h1.97l-4.1-6.27c2.42-.06 4.29-1.05 4.29-3.72zm-6.55 2.4h-2.54v-4.8h3.88c1.69 0 3.53.25 3.53 2.35 0 2.77-2.96 2.45-4.87 2.45z"/>
                </g>
                <defs>
                  <clipPath id="clip0_44_18">
                    <rect width="780" height="200" fill="currentColor"
                    ></rect>
                  </clipPath>
                </defs>
              </svg>
              <svg
                class="h-5"
                viewBox="0 0 1100 200"
                fill="black"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M783.786.02v134.293c0 9.074 4.537 13.61 12.703 13.61h44.462v15.426c0 1.815-.908 2.723-2.723 2.723h-71.683c-21.777 0-25.406-11.796-25.406-23.592V9.095c0-6.352 2.722-9.074 9.98-9.074h32.667M701.394.02v156.978c0 7.259-2.722 9.074-9.073 9.074h-33.573V9.095c0-5.445 1.814-9.074 9.073-9.074h33.573M0 22.839C0 10.135 0 .154 20.87.154h90.738V15.58c0 .907-.908 1.814-1.815 1.814H55.35c-7.259 0-10.888 3.63-10.888 10.889v41.74h64.424v16.332c0 1.815-.908 1.815-2.722 1.815H44.462v67.146c0 6.352-3.63 9.074-9.982 9.074H0V22.84M177.718.005V126.13c0 10.889 1.815 18.148 9.074 22.685 9.98 5.444 27.221 6.352 38.11 0 7.259-3.63 9.98-9.981 9.98-22.685V8.171c0-5.444 1.816-8.166 9.075-8.166h32.665V122.5c0 28.129-18.147 39.925-33.573 44.462-20.87 5.444-52.628 5.444-72.59 0-23.592-7.26-34.48-20.87-34.48-44.462V8.171c-.908-5.444.907-8.166 7.258-8.166h34.48M979.892.03c-8.167 0-12.704 3.63-15.426 11.796l-27.221 114.33h-.908L909.116.03h-38.11c-7.26 0-9.981 3.63-9.981 9.981v156.07h16.332c2.723 0 3.63-.908 3.63-3.63V31.788h2.722l34.48 134.293h22.685c8.167 0 11.796-3.63 13.61-11.796L985.337 30.88h2.722v134.292h29.944c7.259 0 10.888-2.722 10.888-9.98V.03h-48.998M478.475 89.989h-42.647V165.3H469.4c6.352 0 9.074-1.815 9.074-9.074V89.99M476.003 57.69c1.815-.908 2.722-1.815 2.722-4.537V.524H446.06c-7.259 0-9.073 3.63-9.073 9.074v79.85l39.017-31.759M330.608 152.477c18.147-2.722 24.5-13.61 24.5-29.943V9.11c0-7.259 3.629-9.074 8.166-9.074h33.573v107.979c.907 26.314-4.537 39.017-20.87 50.813-8.167 5.444-21.777 12.703-52.628 12.703-18.148 0-25.407-.907-26.314-.907-1.815-.908-2.722-1.815-2.722-3.63v-13.61c7.259 0 23.591.907 36.295-.908M542.727.005c-20.87 0-20.87 9.98-20.87 22.684v42.647c0 .907 0 .907-.907 1.815l-29.036 22.684h29.943v75.313h33.574c7.259 0 9.98-2.722 9.98-9.074V88.928h61.703c1.814 0 2.722-.908 2.722-1.815V70.78h-63.517V29.04c0-7.258 3.63-10.888 10.889-10.888h54.443c1.814 0 1.814-.907 1.814-1.815V.005h-90.738"/>
              </svg>
              <svg
                class="h-8"
                viewBox="0 0 600 200"
                fill="black"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M383.344 28.697c0 7.558-6.147 13.806-13.806 13.806a13.763 13.763 0 0 1-13.806-13.806 13.763 13.763 0 0 1 13.806-13.807 13.763 13.763 0 0 1 13.806 13.807M220.892 49.658H199.83v9.675c-5.543-6.35-13.1-9.675-22.07-9.675-20.76 0-36.985 17.233-36.985 39.202 0 20.861 16.93 38.598 36.985 38.598 8.768 0 16.427-3.427 22.07-9.675v9.372h22.776V49.76h-1.714zm-38.9 56.637c-9.875 0-17.938-8.063-17.938-17.939s8.063-17.938 17.939-17.938 17.938 8.062 17.938 17.938-8.062 17.939-17.938 17.939M137.45 124.938 120.216 23.86H95.829L76.782 78.38 57.735 23.86H33.448L15.812 127.055h22.977l9.675-59.862 19.953 59.76h16.629l19.953-59.76 9.675 59.862h23.078l-.303-2.117M546.905 49.658h-21.062v9.675c-5.543-6.35-13-9.675-22.07-9.675-20.76 0-36.986 17.233-36.986 39.202 0 20.861 16.931 38.598 36.986 38.598 8.767 0 16.426-3.427 22.07-9.675v9.372h22.876V49.76h-1.814zm-38.9 56.637c-9.876 0-17.938-8.063-17.938-17.939s8.062-17.938 17.938-17.938 17.938 8.062 17.938 17.938-7.961 17.939-17.938 17.939M345.654 125.14V75.457s0-1.713-.1-1.713h-.102c-.806-14.21-11.085-24.086-25.698-24.086-9.271 0-16.628 3.93-20.659 10.783-4.535-6.853-12.395-10.783-21.465-10.783-7.76 0-15.318 4.233-20.055 10.682V49.658H234.7v77.296h22.876V82.31c0-5.845 4.737-10.582 10.582-10.582 5.643 0 10.178 4.334 10.581 9.876v45.35h23.683V76.666c1.915-3.023 5.341-4.938 8.868-4.938 5.845 0 10.582 4.737 10.582 10.481v44.745h23.682l.101-1.814M381.027 51.472v75.482H358.15V49.658h22.877v1.814M471.625 49.759h-22.977l-19.954 41.42-17.233-41.42h-25.799l29.427 69.939-18.039 37.388h25.9l51.597-107.327h-2.922"/>
              </svg>
            </div>
          </div>
        </div>
      </section>
      <section
        class="bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8"
      >
        <div>
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <div class="flex justify-between items-center">
                <p class="text-lg text-black">Halfday 套餐</p>
              </div>
              <p class="text-xl font-medium text-black mt-2">
                ￥1200<span class="text-sm text-zinc-500 ml-1">元</span>
                <span class="text-gray-400 block text-xs">仅拍摄费用，场地及交通另计</span>
              </p>
            </div>
            <p class="text-sm text-zinc-500 mt-4">
              常规人像拍摄（含 Cosplay / 家庭 / 亲子 / 毕业）建议选择此套餐。
            </p>
          </div>
          <div class="mt-6">
            <p class="text-sm uppercase text-black">您将获得：</p>
            <ul
              class="flex flex-col mt-4 text-sm text-black gap-y-2"
              role="list"
            >
              <li class="flex items-start gap-2">
                ⏤<span>2~3 小时拍摄时长</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span>直出九宫格，当日提供</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span>120+ RAW 原片，一周内提供</span>
              </li><li class="flex flex-row items-center gap-2">
                ⏤<span>10 张精修返图，三个月内提供</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-8">
          <a
            class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-zinc-500 h-10 border-zinc-300 focus:ring-2 shadow-zinc-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:bg-black hover:text-white duration-300"
            href="#_"
            >预约此套餐 <span>&rarr;</span></a
          >
        </div>
      </section>
      <section
        class="bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8"
      >
        <div>
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <div class="flex justify-between items-center">
                <p class="text-lg text-black">Fullday 套餐</p>
              </div>
              <p class="text-xl font-medium text-black mt-2">
                ￥2000<span class="text-sm text-zinc-500 ml-1">元</span>
                <span class="text-gray-400 block text-xs">仅拍摄费用，场地及交通另计</span>
              </p>
            </div>
            <p class="text-sm text-zinc-500 mt-4">
              婚礼、活动、旅行跟拍建议选择此套餐。
            </p>
          </div>
          <div class="mt-6">
            <p class="text-sm uppercase text-black">您将获得：</p>
            <ul
              class="flex flex-col mt-4 text-sm text-black gap-y-2"
              role="list"
            >
              <li class="flex items-start gap-2">
                ⏤
                <span>4~6 小时拍摄时长</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span>直出九宫格，当日提供</span>
              </li><li class="flex flex-row items-center gap-2">
                ⏤<span>200+ RAW 原片，一周内提供</span>
              </li><li class="flex flex-row items-center gap-2">
                ⏤<span>25 张精修返图，三个月内提供</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-8">
          <a
            class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-zinc-500 h-10 border-zinc-300 focus:ring-2 shadow-zinc-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:bg-black hover:text-white duration-300"
            href="#_"
            >预约此套餐 <span>&rarr;</span></a
          >
        </div>
      </section>
      <section
        class="bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8"
      >
        <div>
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <div class="flex justify-between items-center">
                <p class="text-lg text-black">写真集套餐</p>
              </div>
              <p class="text-xl font-medium text-black mt-2">
                ￥12000<span class="text-sm text-zinc-500 ml-1">元</span>
                <span class="text-gray-400 block text-xs">仅拍摄费用，场地、交通及食宿另计</span>
              </p>
            </div>
            <p class="text-sm text-zinc-500 mt-4">
              一本精美的写真集，记录您的一段人生闪亮时刻。
            </p>
          </div>
          <div class="mt-6">
            <p class="text-sm uppercase text-black">您将获得：</p>
            <ul
              class="flex flex-col mt-4 text-sm text-black gap-y-2"
              role="list"
            >
              <li class="flex items-start gap-2">
                ⏤<span> 3-5 天全天候跟拍</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span> 1000+ RAW 原片，一周内提供</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span> 100 张精修返图，半年内提供</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span> 专属定制写真集，精美排版，印刷成册（默认印刷两份）</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-8">
          <a
            class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-zinc-500 h-10 border-zinc-300 focus:ring-2 shadow-zinc-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:bg-black hover:text-white duration-300"
            href="#_"
            >预约此套餐 <span>&rarr;</span></a
          >
        </div>
      </section>
      <section
        class="h-full p-8 flex flex-col col-span-full md:col-span-1 xl:col-span-2 justify-between order-last md:order-none bg-white rounded-3xl"
      >
        <p class="text-lg text-black lg:text-xl">拍摄须知</p>
        <div class="mt-4">
          <ol class="list-decimal list-inside text-xs text-zinc-500 font-normal">
            <li class="my-2">客人请自备妆造；</li>
            <li class="my-2">套餐报价仅含拍摄及后期流程，若产生场地、交通及住宿等额外费用，皆由客人承担；</li>
            <li class="my-2">默认拍摄对象为一或两位客人，此外增加的每位客人请支付 10% 额外费用；</li>
            <li class="my-2">返图如需加急，请提前与摄影师沟通； </li>
            <li class="my-2">成片默认可供摄影师发布个人网站及网络平台，如不能接受请提前告知。</li>
          </ol>
          <div class="border-t border-zinc-200  flex flex-col pt-4 mt-4">
            <p class="text-xs text-zinc-400">
              其他问题欢迎垂询。
            </p>
          </div>
        </div>
      </section>
      <section
        class="h-full rounded-3xl justify-between col-span-full lg:col-span-1 xl:col-span-2 bg-white p-8"
      >
        <div class="flex flex-col justify-between h-full">
          <div>
            <div
              class="flex flex-col lg:flex-row lg:items-center lg:justify-between"
            >
              <p class="text-lg text-black lg:text-xl">联系我</p>
            </div>
            <p class="text-xs text-zinc-500 mt-4">
              对于拍摄流程及报价有任何不确定的地方，请扫描二维码添加微信好友沟通。
            </p>
          </div>
          <div class="flex flex-col mt-4">
            <img class="w-3xs" src="https://media.kaerozhi.com/2025/06/eefdcddd61ee31571a364f05b7d693de.jpg" alt="请扫描二维码添加微信" />
          </div>
          <div class="border-t border-zinc-200  flex flex-col pt-4 mt-4">
            <p class="text-xs text-zinc-400">Based in 苏州 / 默认长三角可拍 / 其他地区请提前沟通</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
