.entry a {
  text-decoration: none;
}

.entry i,
.entry em {
  font-style: normal;
  font-family: var(--font-fantasy);
  color: var(--color-text-muted);
}

.entry i {
  text-decoration: underline 1px wavy;
  text-underline-offset: 0.2em;
  text-decoration-color: currentColor;
}

.entry del {
  margin: auto 0.25em;
  color: var(--color-text-muted);
}

.entry figure {
  text-align: center;
  font-size: var(--text-md);
  font-family: var(--font-fantasy);
}

.entry figure figcaption {
  margin-top: 0.5em;
}