<div class="col-span-2">
  <div class="flex relative bg-white p-6 mb-4 rounded-xl aspect-8/3 justify-center items-center">
    <label class="absolute z-10 top-6 left-6 rounded-full bg-black/50 text-white text-xs py-1 px-4">最近的 GitHub 活动</label>
    <img
      src="https://ghchart.rshah.org/kaerozhi"
      alt="GitHub contributions chart"
      loading="lazy"
      class="rounded-lg"
    />
  </div>
</div>